{% extends 'base.html' %}

{% block main %}

	<div id="left" class="span-15">

    </div>


	<div id="right" class="span-15 teja_explanation">
	   <h2>¿Qué es @monedaTEJA?</h2>

<p>
<a href="/" class="teja">@monedaTEJA</a> es una Tecnología de networking y de valor económico sostenible: su valor se basa en la capacidad de generar redes facilitando las conexiones y el intercambio de información y comunicación entre las personas. La <a href="/" class="teja">@monedaTEJA</a> es una moneda digital de <a href="https://github.com/lowfill/monedaTEJA">código abierto</a> cuyo pago se realiza a través de Twitter.
</p>
<h2>Objetivo</h2>
<p>
El objetivo de la <a href="/" class="teja">@monedaTEJA</a> es ser una herramienta de networking que ayude a generar capital social agilizando el intercambio de conocimiento. Además es un instrumento para la regulación y el monitoreo de los procesos de trabajo en Red. 
<p>
<h2>¿A quién esta dirigida?</h2>
<p>
La <a href="/" class="teja">@monedaTEJA</a> está dirigida a emprendedores, empresas y organizaciones con y sin fines de lucro y en general a cualquier persona que quiera establecer procesos de trabajo en red regulados por relaciones de confianza. 
</p>
	
	<table class="">
	<tr>
		<th>1 TEJA</th>
		<th><b>1 hora equivalente a:</b></th>
		<th>
	US$ 10<br>
	10 €
		</th>
	</tr>
	<tr>
		<td class="span-2">&nbsp;</td>
	
	<td>

<ul>
<li>Generar conexiones entre persona (capital social) </li>
<li>Generar  o compartir conocimiento (Capital intelectual),</li>
<li>Impulsar o participar en una iniciativa o proyecto de acciones en red (Capital de uso o intercambio)</li>
</ul>
	</td>
		<td class="span-2">&nbsp;</td>
	</tr>
	</table>

	<h2>Ejemplos de uso</h2>
	
<ol>
<li><i>Generar conexiones entre persona (capital social)</i><br> <p>ej. juntando o juntandonos con personas que comparten o compartimos propósito comunes para conocernos (presencial o virtualmente).</p></li>

<li><i>Generar  o compartir conocimiento (Capital intelectual)</i><br> <p>ej. Escribir en facebook o en un blog reflexiones que permitan compartir ideas sobre el taller tejeRedes u otras experiencias o proyectos en que podemos enseñar lo que hemos aprendido... o juntarnos con alguien o un grupo de personas a transferir aprendizajes. etc.</p></li> 

<li><i>Impulsar o participar en una iniciativa o proyecto de acciones en red (Capital de uso o intercambio)</i><br><p>ej. participación en proyectos o iniciativas propias o apoyando las de terceros, donde hay un trabajo en red o grupo</p></li> 
</ol>

<p>
Recuerda la <a href="/" class="teja">@monedaTEJA</a> es parte de tu dia a dia juntando personas, ideas y proyectos, es decir generando alguna de las actividades en los puntos 1,2 y 3.
</p> 
	</div>




{% endblock %}