{% extends 'base.html' %} 
{% load i18n %}

{% block main %}

<div id="left" class="span-15">

	<h3 style='display: inline'>{%trans "Batch Printer" %}</h3>
	<hr class="space">

	<span id="promised">{%trans "Creando deuda:" %}</span> <br>

	<hr class="space">
	<p>{%trans "Para generar deuda a varios usuarios necesitas crear un archivo con el siguiente formato:" %}</p>
	<pre>
	{%trans "@deudor (sin el @),Numero de Tejas,#hashtag (sin el #),Como,Expiración en dias" %}
	{%trans "deudor1,1,Evento1,con un post en su blog,10"%}
	{%trans "deudor2,1,Evento1,con un post en su blog,10"%}
	... 
	</pre>
	<p>{%trans "Ten en cuenta que Twitter tiene la limitación de 140 caracteres." %}</p>
	<form action="/generate_debt/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{%trans "Deudores:"%} <h3 style="display: inline" id="printer">
		<input name="recipients" style='display: inline' type="file"
			maxlength="20" size="20" placeholder="deudor">
	</h3>

	<hr class="space">
	<input type="submit" value="{%trans "Enviar"%}">
	</form>
</div>
{% endblock %}
