{% extends 'base.html' %} 
{% load i18n %}

{% block main %}

<div id="left" class="span-15">

	<h3 style='display: inline'>{%trans "Batch Printer" %}</h3>
	<hr class="space">

	<span id="promised">{%trans "Creating debt:" %}</span> <br>

	<hr class="space">
	<p>{%trans "To create debt to many users at the same time you should create an attach a CSV file with following format:" %}</p>
	<pre>
	{%trans "@bearer (without @),TEJA's number,#hashtag (without #),How,Expiration (in days)" %}
	{%trans "bearer1,1,Event1,with a blog post,10"%}
	{%trans "bearer2,1,Event1,with a meeting with,10"%}
	... 
	</pre>
	<p>{%trans "Keep in mind that Twitter just allows 140 characters." %}</p>
	<form action="/generate_debt/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{%trans "Bearers:"%} <h3 style="display: inline" id="printer">
		<input name="recipients" style='display: inline' type="file"
			maxlength="20" size="20" placeholder="{%trans "Bearers:"%}">
	</h3>

	<hr class="space">
	<input type="submit" value="{%trans "Send"%}">
	</form>
</div>
{% endblock %}
