{% extends 'base.html' %}


{% block main %}

	<div class="span-15">
	
	<h3><span class="teja">@monedaTEJA</span> es una moneda de networking. Cualquiera puede crear, transferir o redimirla en Twitter.</h3>
 

	<h2>¿Cómo funciona?…</h2>

	<p>
	Si bien para usar la <span class="teja">@monedaTEJA</span> no es necesario registrarte en este sitio, 
	te recomendamos hacerlo (ingresas con tu usuario/contraseña de twitter). Así podras usar las herramientas que hemos puesto a tu disposición para <a href="/print"><b>generar</b></a>, <a href="/pay"><b>cumplir</b></a> y <a href="/dashboard"><b>verificar</b></a> tus compromisos.
	<br>
	Sin embargo, si prefieres hacerlo directamente desde twitter puedes hacerlo siguiendo las reglas que se explican a continuación. 
	</p>
	<h3>Generar compromiso</h3>

	<p>
	La manera más sencilla de generar @monedaTEJA es usando el link <b><a href="/print">Generar compromiso</a></b>. Esto garantizará que la moneda ha sido generada en el formato correcto y podrá ser rastreada. Si prefieres hacerlo manualmente desde tu twitter, las reglas son bastante sencillas:
		
	<div id="tweet">@quien_va_a_cumplir se comprometió con #1T en #Evento con una reunión con otro participante. Expira en 30 días. @monedaTEJA</span></div>
	
	<hr class="space">
	
	<p>La nueva @monedaTEJA aparecerá en la <a href="/">página de seguimiento</a> un minuto después.</p>
	
	
	<ul>
		<li>Tu tweet debe comenzar con el nombre de usuario de Twitter quién se esta comprometiendo (e.g. <span style="display:inline" id="promise">@quien_va_a_cumplir</span>)</li>
		<li>Tiene que contener la frase <span style="display:inline" id="promise">''se comprometió con'</span></li>
      <li>Tiene que contener el número de tejas que se espera generar: <span style="display:inline" id="promise">(e.g. #1T, que equivale a 1 @monedaTEJA)</span></li>
      <li>Tiene que contener el hashtag del evento o iniciativa asociada: <span style="display:inline" id="promise">(e.g. #Evento) </span></li>
		<li>Tiene que contener la acción con la que se hará el pago: <span style="display:inline" id="promise">(e.g. con una reunión con otro participante)</span></li>
		<li>Debes agregar una expiración, por defecto una @monedaTEJA tiene 30 días de validez.<br>
		El formato para esto es 'Expira en <span id="promise" style="display:inline">[número]</span> <span id="promise" style="display:inline">[días]</span>' <span id="promise" style="display:inline">(e.g. Expira en 30 días)</span>
		</li>
		<li>Debe contener una referencia a <span style="display:inline" id="promise"> @monedaTEJA</span></li>
	</ul>
	
	<p>Si no aparece en la página de seguimiento es probable que tengas un error de sintaxis.</p>
	
	<h3>Cumplir compromiso</h3>
	
	<p>
	La manera más sencilla de pagar @monedaTEJA es usando el link <b><a href="/pay">Pagar compromiso</a></b>. Esto garantizará que la moneda ha sido generada en el formato correcto y podrá ser rastreada. Si prefieres hacerlo manualmente desde tu twitter, las reglas son bastante sencillas:
</p>
<p>
Responde  a la nota original o escribe un tweet con el siguiente formato:</p>
	
	<div id="tweet">@quien_genero_el_compromiso acá esta el link al post http://example.org  #1T #Evento @monedaTEJA</div>
	
	<p>Las reglas son las siguientes:</p>
	
	<ul>
	
	<li>Tu tweet debe ser un reply a la nota original</li>
	<li>Opcionalmente puede contener el nombre de usuario quién generó el compromiso <span id="promise" style="display:inline">(e.g. @quien_genero_el_compromiso)</span></li>
	<li>Debe contener un enlace al recurso relacionado con el pago: Enlace a una página web, enlace a una foto del encuentro, etc. <span id="promise" style="display:inline">(p.e. acá esta el link al post http://example.org)</span></li>
	<li>Debe contener el hashtag número de TEJAs que estas pagando <span id="promise" style="display:inline">(e.g. #1T, que equivale a 1 @monedaTEJA)</span></li>
	<li>Debe contener el hashtag del evento o iniciativa asociada: <span style="display:inline" id="promise">(e.g. #Evento) </span></li>
	<li>Debe contener una referencia a <span id="promise" style="display:inline">@monedaTEJA</span></li>
	</ul>
	
	
	<h3>Verificar compromiso</h3>

	<p>
	La manera más sencilla de verificar es @monedaTEJA es usando el link a <b><a href="/dashboard">Mi perfil</a></b> y seleccionando la transacción que quiero verificar. Esto garantizará que la moneda ha sido generada en el formato correcto y podrá ser rastreada. Si prefieres hacerlo manualmente desde tu twitter, las reglas son bastante sencillas:
	
	<p>Responde a la nota original o otra respuesta de la misma, con</p>
	
	<div id="tweet">@quien_cumplio_el_compromiso  gracias #nT #Evento @monedaTEJA</div>
	
	<p>Las reglas son:</p>
	
	<ul>
	
	<li>Tu tweet debe ser una respuesta a la nota original, o a otra respuesta de la misma.</li>
	<li>Debe contener el nombre de usuario del deudor <span id="promise" style="display:inline">@quien_cumplio_el_compromiso</span></li>
	<li>Debe contener la palabra <span id="promise" style="display:inline">gracias</span></li>
	<li>Debe contener una referencia a <span id="promise" style="display:inline">@monedaTEJA</span></li>
	
	</ul>
	
	<p>Otra forma de verificar una transacción es simplemente hacer un retweet del mensaje con el que se reporta el pago.</p>
	
	<p>Pasado un minuto la herramienta de seguimiento notará la verificación del pago y se cerrará el proceso.</p>
	
	<hr class="space">

	<h3>Ofrecimientos</h3>
	
	<p>Cuando intentas hacer un pago de una deuda con un formato incorrecto, por ejemplo sin un enlace a algún recurso. El sistema de seguimiento registra tu ofrecimiento pero no lo valida como pago.</p>
	
	<hr class="space">
	
	<h3>Red de confianza</h3>
	
	<p>La Red de confianza es una medida simple que muestra cuantos <span id="redemption">agradecimientos</span> ha recibido un usuario.</p>
	
	<p>El  mapa de <b><a href="/network">Karma</a></b> representa las relaciones de gratitud entre los usuarios de la @monedaTEJA. Para ser incluido dentro de este mapa debes haber completado satisfactoriamente una transacción dentro del sistema.</p>
		
	</div>

{% endblock %}
