{% extends 'base.html' %}

{% load i18n %}
 
{% block javascript %}

<script type=text/javascript>
	function print() {

		promise = $('#promise').val()
		event = $('#event').val()
		recipient = $('#recipient').val()
		exp_val = $('#expiry').val()
		exp_unit = $('#exptype').val()

		if (exp_val > 0) {
			expiry = '{%trans "Expira en"%} ' + exp_val + ' ' + exp_unit + '. ';
		} else {
			expiry = ''
		}

		note = '@' + recipient + ' {%trans "se enredó con"%} #' + promise + ' {%trans "por "}#'+event.toLowerCase().replace(' ','')+'. ' + expiry + ' @{{issuer}}'
		note_encoded = escape('@' + recipient) + ' {%trans "se enredó con"} '+escape('#' + promise) + ' {%trans "por"} '+escape('#'+event.toLowerCase().replace(' ',''))+'. ' + expiry + escape(' @{{issuer}}')

		note_formatted = '<h3 id=\"printed\">' + note + '</h3>'

		$('div.output').html(note_formatted);


		url = 'https://twitter.com/share?url=&text=' + note_encoded;

		$('a.tweet').attr('href', url);

		$('#tweetbutton').show();

	}

	$(document).ready(function() {

		$('#promise').keyup(print);
		$('#event').keyup(print);
		$('#recipient').keyup(print);
		$('#expiry').keyup(print);
		$('#exptype').change(print);
		$('#transferable').change(print);

		$('#tweetbutton').hide();

	})
</script>



{% endblock %} 

{% block main %}

<div id="left" class="span-15">

	<h3 style='display: inline'>{%trans "Printer"%}</h3>
	<hr class="space">

	<span id="promised">{%trans "Creando deuda:"%}</span> <br>

	<hr class="space">

	<h3 style="display: inline" id="printer">
		@<input id="recipient" style='display: inline' type="text"
			maxlength="20" size="20" placeholder="deudor">
	</h3>

	<h3 id="printer" style="display: inline">
		{%trans "se enredó con"%} 
		<select id="promise">
			<option value="1T">#1T</option>
			<option value="2T">#2T</option>
			<option value="3T">#3T</option>
			<option value="4T">#4T</option>
		</select>
	</h3>

	<h3 id="printer" style="display: inline">
		{%trans "por"%} 
		<input id="event" type="text" maxlength="55" size="20"
			placeholder="Nombre del evento">.
	</h3>

	<hr class="space">

	<p>
		<i>{%trans "Options"%}</i>
	</p>

	<h3 id="printer" style="display: inline">
		{%trans "Expires in"%} <input id="expiry" type="text" size=2 maxlength=3
			placeholder="10" value="30"> 
			<select id="exptype" >

			<option id="{%trans "minutos"%}">{%trans "minutes"%}</option>
			<option id="{%trans "horas"%}">{%trans "hours"%}</option>
			<option id="{%trans "días"%}" selected>{%trans "días"%}</option>
			<option id="{%trans "meses"%}">{%trans "meses"%}</option>
			<option id="{%trans "años"%}">{%trans "años"%}</option>

		</select>

	</h3>


</div>



<div id="right" class="span-15">

	<hr class="space">
	<hr class="space">

	<span id="promised">{%trans "Your @monedaTEJA:"%}</span>

	<hr class="space">

	<div class="output"></div>

	<hr class="space">

	<div id="tweetbutton">
		<a class="tweet" href="https://twitter.com/share?url=''&amp;text="
			target="_blank"><img src="/static/tweet.png" width=60></a>
	</div>
</div>
{% endblock %}
