{% autoescape off %}
{% load i18n %}
{% for event in events %}
		<p id="{{event.type}}-{{event.note_id}}">
		<span>
		
        {% ifequal event.type 12 %}
		<span id="Expiration">{%trans "[ X ]"%}</span> {{ event.timestamp|date:"M d G:i" }}<span><b> <a href="/user/{{ event.from_user }}">{{ event.from_user }}</a></b>{%trans "'s request for"%} <span id="promise"><a href="/note/{{ event.note_id }}">{{ event.promise }}</a></span></b> {%trans "expired."%} 
        {% endifequal %}

        {% ifequal event.type 10 %}
		<span id="request">{%trans "[ Cm ]"%}</span> {{ event.timestamp|date:"M d G:i" }}<span><b> <a href="/user/{{ event.to_user }}">{{ event.to_user }}</a></b> {%trans "requested"%} <span id="promise"><a href="/note/{{ event.note_id }}">{{ event.promise }}</a></span></b> {%trans "from"%} <span><b> <a href="/user/{{ event.from_user }}">{{ event.from_user }}.</a></b>
        <a href="http://www.twitter.com/{{event.to_user}}/status/{{event.note_id}}" target="_blank">[&rarr;]</a>
		{% endifequal %}

        {% ifequal event.type 4 %}
		<span id="offer">{%trans "[ E ]"%}</span> {{ event.timestamp|date:"M d G:i" }}<span><b> <a href="/user/{{ event.from_user }}">{{ event.from_user }}</a></b> {%trans "offers"%} <span id="promise"><a href="/note/{{ event.note_id }}">{{ event.promise }}</a></span></b>. 
		<a href="http://www.twitter.com/{{event.from_user}}/status/{{event.note_id}}" target="_blank">[&rarr;]</a>
		{% endifequal %}
		
        {% ifequal event.type 3 %}
		<span id="Transfer">{%trans "[ Tv ]"%}</span> {{ event.timestamp|date:"M d G:i" }}<span><b> <a href="/user/{{ event.from_user }}">{{ event.from_user }}</a></b> {%trans "transferred"%} <span id="promise"><a href="/note/{{ event.note_id }}">{{ event.promise }}</a></span> {%trans "to"%} <b><a href="/user/{{ event.to_user }}">{{ event.to_user }}</a></b>. 
		<a href="http://www.twitter.com/{{event.from_user}}/status/{{event.note_id}}" target="_blank">[&rarr;]</a>
		{% endifequal %}
		
		{% ifequal event.type 1 %}
		<span id="redemption">{%trans "[ V ]"%}</span> {{ event.timestamp|date:"M d G:i" }} <span> <b><a href="/user/{{ event.from_user }}">{{ event.from_user }}</a></b> {%trans "thanked"%} <b><a href="/user/{{ event.to_user }}">{{ event.to_user }}</a></b> {%trans "for"%} <span id="promise"><a href="/note/{{ event.note_id }}">{{ event.promise }}</a></span>.
		<a href="http://www.twitter.com/{{event.from_user}}/status/{{event.note_id}}" target="_blank">[&rarr;]</a>
		{% endifequal %}
		
		{% ifequal event.type 2 %}
		<span id="Expiration">{%trans "[ X ]"%}</span> {{ event.timestamp|date:"M d G:i" }} <span> <b><a href="/user/{{ event.from_user }}">{{ event.from_user }}</a>'s</b> {%trans "promise of"%} <span id="promise"><a href="/note/{{ event.note_id }}">{{ event.promise }}</a></span> {%trans "to"%} <b><a href="/user/{{ event.to_user }}">{{ event.to_user }}</a></b> {%trans "expired."%}
		{% endifequal %}

        		
        <!-- Add tags -->
        {% for tag in event.tags %}
            {% ifnotequal tag None %}
                &nbsp;<a class="tag" href="/t/{{tag}}">#{{ tag }}</a>
            {% endifnotequal %}
        {% endfor %}
        
		{% if event.to_user|lower == username|lower and event.type == 3 and event.to_user|lower == user.username|lower %}
		<span class='ticker-actions'>
		<a class='verify-payment' href='/verify/{{event.note_id}}' title="{%trans 'Verify' %}" ><i class="icon-emo-thumbsup" data-note=''></i></a>
		</span>
		{% endif %}
		</p>
	
{% endfor %}
{% endautoescape %}
