{% extends 'base.html' %}
{% load i18n %} 
{% block javascript %}

<script type="text/javascript">
	$('document').ready(function() {
		loadRecent();
	})

	function loadRecent() {
		url = '/ticker/max/10/user/{{ username }}';
		loadTicker("#ticker", url);
	}

	function load(code) {
		url = '/ticker/max/10/user/{{ username }}/type/' + code;
		loadTicker("#ticker", url);
	}
</script>

{% endblock %} 
{% block main %}


<div class="span-9">
<a target=blank href="http://www.twitter.com/{{ username }}"> <img
	style="padding: 5px;" width="50" align="left" src="{{ user_icon }}">
</a>
<span id="expiration"><h3 style='display: inline'>
		<a target="blank" href="http://www.twitter.com/{{ username }}">{{username }}</a>
	</h3>
	</span>
<br>
<p class="prepend-2">{{about}}</p>
</div>
<div class="span-9 prepend-1 append-1 last">
	<div class="span-4">
		<h3>{%trans "Committed with me"%}</h3>
		<p>
			<b>{%trans "Issued"%}:</b> {{requests}}<br> 
			<b>{%trans "Completed"%}:</b> {{verified}}<br> 
			<b>{%trans "Verified"%}:</b> {{received}}<br>
			<b>{%trans "With errors"%}:</b> {{withproblems}}<br>
			<b>{%trans "Expired"%}:</b> {{expired}}<br>
		</p>
	</div>
	<div class="span-4 last">
		<h3>{%trans "I committed myself"%}</h3>
		<p>
			<b>{%trans "Pending"%}:</b> {{requests_received}}<br> 
			<b>{%trans "Completed"%}:</b> {{validated}}<br>
			<b>{%trans "Verified"%}:</b> {{sent}}<br> 
			<b>{%trans "With errors"%}:</b> {{sentwithproblems}}<br>
			<b>{%trans "Expired"%}:</b> {{expired_to}}<br>
		</p>
	</div>
</div>
<hr class="Space">
<hr class="Space">

<a href="javascript:loadRecent()">{%trans "[ All ]"%}</a>
&nbsp;
<a href="javascript:load(10)"><span id="request">{%trans "[ Commitments ]"%}</span></a>
&nbsp;
<a href="javascript:load(3)"><span id="transfer">{%trans "[ Completed ]"%}</span></a>
&nbsp;
<a href="javascript:load(1)"><span id="redemption">{%trans "[ Verified ]"%}</span></a>
&nbsp;
<a href="javascript:load(4)"><span id="offer">{%trans "[ With errors ]"%}</span></a>
&nbsp;
<a href="javascript:load(12)"><span id="expiration">{%trans "[ Expired ]"%}</span></a>
&nbsp;
<hr>

<div id="ticker"></div>

{% endblock %}
